<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Everything MARS</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Learn about the Red Plant</h1>
      <p>Sand. Red. High winds. Red sand. Sand. Water?</p>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">See what's new!</a></p>
    </div>
    <h2>Latest news:</h2>
    <h3>{{ mars.News_Title }}</h3>
    <p>{{ mars.News_Paragraph }}</p>
  </div>
  </div>
</body>

</html>
